<div class="grid content">
    <div class=" col-1 md:col-2 lg:col-4 left">
    </div>
    <div class=" col-12 md:col-5 lg:col-4 left">
        <div class="about-me">
            <h1>About Me</h1>
            <img src="assets/Reenu.png" class="image">
            <p>
         I’m Reenu Sivadarshini, an independent and self-driven individual passionate about learning and adapting to new challenges. With a knack for leadership and collaboration,
          I thrive in both team-oriented and individual settings. My core strengths lie in effective communication, problem-solving, and resilience, which enable me to excel in diverse environments.   As someone deeply interested in Full Stack Development and innovative solutions, I constantly seek opportunities to grow and contribute meaningfully. Let’s connect and share ideas to make a positive impact!  
            </p>
            <div>
                <button (click)="downloadCV()"  class="download_button" >Download Resume
                </button>
              </div>    
          </div>
    </div>
    <div class=" col-12 md:col-5 lg:col-4 left">
    </div>
</div>