
.navbar {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #9F2B68, #BF40BF, #bb4a66, #7e4774, #AA336A);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
    a {
      color: #E6E6FA; /* Lavender */
      font-size: 1.2rem;
      text-decoration: none;
      padding: 10px 15px;
      border-radius: 5px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
      position: relative;
      overflow: hidden;
  
      &:hover {
        
        color: #fff;
        box-shadow: 0 0 15px rgba(218, 112, 214, 0.6); /* Orchid glow */
      }
  
      &:hover::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 20%, transparent 50%);
        animation: bubble 1s ease-out infinite;
      }
  
      &:hover::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        animation: bubble-effect 1s ease-out infinite;
      }
    }
  }
  
  @keyframes bubble {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  @keyframes bubble-effect {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  


  