<footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    <div class="social" role="navigation" aria-labelledby="social-heading">
        <h3 id="social-heading" class="sr-only">Follow me on social media</h3>
        <a href="#" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
        <a href="#" aria-label="Twitter"><i class="fa-solid fa-code"></i></a>
        <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" aria-label="Pinterest"><i class="fa-brands fa-pinterest"></i></a>
    </div>
</footer>
