/* General Styles */
.skills-container {
    padding: 20px;
    background-color: #E6E6FA;
    color: #013220;
    font-family: 'Poppins', sans-serif;
  }

  
  h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .skill-card {
    background: rgb(224, 176, 255,0.2); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }
  }
  
  .skill-card h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #630330;
  }
  
  .rating {
    margin-top: 10px;
  
    .fa {
      color: #FFD700; 
      font-size: 1rem;
      margin-right: 3px;
    }
  }
  
  .rating-text {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
    color:#770737;
  }
  

  /* Responsive Grid */
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .col-12 {
    flex: 0 0 100%;
  }
  
  .md\:col-5 {
    flex: 0 0 calc(50% - 15px);
  }
  
  .lg\:col-3 {
    flex: 0 0 calc(33.333% - 15px);
  }
  

  