<div class="full">
<nav class="navbar">
  <a routerLink="/" fragment="home">Home</a>
  <a routerLink="/" fragment="about">About</a>
  <a routerLink="/" fragment="projects">Projects</a>
  <a routerLink="/" fragment="photo">Photography</a>
  <a routerLink="/" fragment="skills">Skills</a>
  <a routerLink="/" fragment="contact">Contact</a>
</nav>

<div id="home">
  <app-home></app-home>
</div>
<div id="about">
  <app-about></app-about>
</div>
<div id="skills">
  <app-skills></app-skills>
</div>
<div id="contact">
  <app-contact></app-contact>
</div>
</div>
