<div class="full">
  <nav class="navbar">
    <a routerLink="/home" fragment="home">Home</a>
    <a routerLink="/home" fragment="about">About</a>
    <a routerLink="/photograph" routerLinkActive="active">Photographs</a>
    <a routerLink="/home" fragment="skills">Skills</a>
    <a routerLink="/experience" routerLinkActive="active">Experience</a>
    <a routerLink="/home" fragment="contact">Contact</a>
  </nav>
  <router-outlet></router-outlet>
</div>

<app-home id="home"></app-home>
<app-about id="about"></app-about>
<app-skills id="skills"></app-skills>
<app-contact id="contact"></app-contact>
