
<div class="container grid bg ">
    <div class="strip even-strip col-12 md:col-5 lg:col-2" *ngFor="let strip of strips1">
      <div class="polaroid "*ngFor="let photo of strip">
        <img [src]="photo.src" [alt]="photo.alt" />
      </div>
      <div class="polaroid" *ngFor="let photo of strip">
        <img [src]="photo.src" [alt]="photo.alt" />
      </div>
    </div>
    <div class="strip odd-strip col-12 md:col-5 lg:col-2" *ngFor="let strip of strips2">
        <div class="polaroid" *ngFor="let photo of strip">
          <img [src]="photo.src" [alt]="photo.alt" />
        </div>
        <div class="polaroid" *ngFor="let photo of strip">
            <img [src]="photo.src" [alt]="photo.alt" />
          </div>
      </div>
      <div class="strip even-strip col-12 md:col-5 lg:col-2" *ngFor="let strip of strips3">
        <div class="polaroid" *ngFor="let photo of strip"
        >
          <img [src]="photo.src" [alt]="photo.alt" />
        </div>
        <div class="polaroid" *ngFor="let photo of strip">
            <img [src]="photo.src" [alt]="photo.alt" />
          </div>
      </div>
      <div class="strip odd-strip col-12 md:col-5 lg:col-2" *ngFor="let strip of strips4">
        <div class="polaroid" *ngFor="let photo of strip">
          <img [src]="photo.src" [alt]="photo.alt" />
        </div>
        <div class="polaroid" *ngFor="let photo of strip">
            <img [src]="photo.src" [alt]="photo.alt" />
          </div>
      </div>
      <div class="strip even-strip col-12 md:col-5 lg:col-2" *ngFor="let strip of strips5">
        <div class="polaroid" *ngFor="let photo of strip">
          <img [src]="photo.src" [alt]="photo.alt" />
        </div>
        <div class="polaroid" *ngFor="let photo of strip">
            <img [src]="photo.src" [alt]="photo.alt" />
          </div>
      </div>
      <div class="strip odd-strip col-12 md:col-5 lg:col-2" *ngFor="let strip of strips5">
        <div class="polaroid" *ngFor="let photo of strip">
          <img [src]="photo.src" [alt]="photo.alt" />
        </div>
              <div class="polaroid" *ngFor="let photo of strip">
        <img [src]="photo.src" [alt]="photo.alt" />
      </div>
  </div>
  
  <div class=" grid title">
	<span class="fixed-background"></span>
	<h1 class=" col-12 typewriter"> 
		{{ displayText }}</h1>


</div>
